{% include 'header.html.twig' %}
<div class="login-page">
	<div class="login-form-container">
		<h2 class="login-form-title">Bejelentkezés</h2>
		{% if error_message %}
			<div class="login-error-message">{{ error_message }}</div>
		{% endif %}
		<form method="POST" action="/belepes" id="login-form" class="login-form">
			<div class="login-form-group">
				<label for="login-username">Felhasználónév:</label>
				<input type="text" class="login-form-control" name="user_name" id="login-username" placeholder="Felhasználó neve" required="required">
			</div>
			<div class="login-form-group">
				<div class="input-field">
					<label for="login-password">Jelszó:</label>
					<input type="password" class="login-form-control" name="password" id="login-password" placeholder="Jelszava" required="required">
					<div class="eye-icon-wrapper">
						<i class="bx bx-hide show-hide"></i>
					</div>
				</div>
			</div>
			<div class="login-form-group text-center">
				<input type="submit" class="login-button" name="login" id="login-button" value="Bejelentkezés">
			</div>
			<div class="login-form-group login-reg text-center">
				<p>Nincs még fiókja?
					<a class="login-redirect" href="/regisztracio">Regisztráció</a>
				</p>
			</div>
			<div class="login-form-group login-reg text-center">
				<p>Elfelejtette jelszavát?
					<a class="login-redirect" href="/ujjelszo">Új jelszó</a>
				</p>
			</div>
		</form>
	</div>
</div>

{% include 'footer_wo_context.html.twig' %}
