{% include 'header.html.twig' %}
<div class="login-page">
    <div class="login-form-container">
            <h2 class="login-form-title">Új jelszó igénylése</h2>
            {% if error_message %}
                <div class="login-error-message">{{ error_message }}</div>
            {% endif %}
            <div class="login-form-group login-reg text-center">
                    <p>Ha elfelejtette jelszavát, kérjük adja meg email címét, és biztosítunk önnek egy ideiglenes jelszót.</p>
                </div>
            <form method="POST" action="/ujjelszo" class="login-form">
                <div class="login-form-group">
                    <input type="email" class="login-form-control" name="email" id="email" placeholder="Email címe" required="required">
                </div>
                <div class="login-form-group text-center">
                    <input type="submit" class="login-button" name="login" id="login-button" value="Küldés">
                </div>
                <div class="login-form-group login-reg text-center">
                    <p><a class="login-redirect" href="/belepes">Belépés</a></p>
                </div>
            </form>
        </div>
</div>
<script>
document.querySelector('form').addEventListener('submit', async function (event) {
    event.preventDefault();

    let form = event.target;
    if (!form.checkValidity()) {
        form.classList.add('was-validated');
        return;
    }

    let formData = new FormData(form);
    let response = await fetch('/ujjelszo', {
        method: 'POST',
        body: formData
    });

    if (response.status === 200) {
        Swal.fire({
            icon: 'success',
            title: 'Jelszó igényelve',
            text: 'Email címére sikeresen küldtünk önnek egy ideiglenes jelszót.',
            confirmButtonText: 'Bezár',
            confirmButtonColor: '#b08e6b',
        });

        form.reset();
        form.classList.remove('was-validated');
    } else if (response.status === 400) {
        Swal.fire({
            icon: 'error',
            title: 'Hiba',
            text: await response.text(),
            confirmButtonText: 'Bezár',
            confirmButtonColor: '#b08e6b',
        });
    } else {
        Swal.fire({
            icon: 'error',
            title: 'Hiba',
            text: 'A jelszó igénylése során. Kérjük, próbálja meg újra!',
            confirmButtonText: 'Bezár',
            confirmButtonColor: '#b08e6b',
        });
    }
});

</script>
<style>
.swal2-popup {
  font-size: 1.5rem;
  width: 500px;
height: 400px;
}
.swal2-title {
  font-size: 4rem;
}
</style>
{% include 'footer_wo_context.html.twig' %}