{% include 'header.html.twig' %}
<div class="register-body">
    <div class="alert" >
        <h2>HIBA!<br></h2>
        <p>Ön még nem erősítette meg email címével a fiókját.</p>
    </div>
</div>
{% include 'footer_wo_context.html.twig' %}