{% include 'header.html.twig' %}
<div class="register-body">
    <div class="alert" >
        <h2>KÖSZÖNJÜK!<br></h2>
        <p>Regisztrációja sikeresen véglegesült. Most már bejelentkezhet fiókjába.</p>
    </div>
</div>
{% include 'footer_wo_context.html.twig' %}
