{% include 'header.html.twig' %}
<div class="register-body">
    <div class="alert" >
        <h2>Már majdnem készen vagyunk!<br></h2>
        <p>Nyissa meg az email címére kapott üzenetben szereplő linket fiókja megerősítéséhez.</p>
    </div>
</div>
{% include 'footer_wo_context.html.twig' %}
