{% include 'header.html.twig' %}
<section id="hero">
	<div class="hero-container">
		<div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
			<ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
			<div class="carousel-inner" role="listbox">
				<div class="carousel-item active" style="background-image: url(App/assets/images/to2.jpg);">
					<div class="carousel-container">
						<div class="carousel-content">
							<h2 class="animate__animated animate__fadeInDown">
								A <span>Bánki-tó</span>
							</h2>
							<p class="animate__animated animate__fadeInUp">A Nógrád megyei tengerszem remek üdülőhely
								azok számára akik egy csendes és nyugodt csobbanásra vágynak, emellett a horgászok
								számára is kedvez a tó.</p>
						</div>
					</div>
				</div>
				<div class="carousel-item"
					style="background-image: url(App/assets/images/bufe4.jpg); background-position: center;">
					<div class="carousel-container">
						<div class="carousel-content">
							<h2 class="animate__animated animate__fadeInDown">A <span>Büfénk</span></h2>
							<p class="animate__animated animate__fadeInUp">Csobbanás, napozás,
								a számos elfoglatság kipróbálasa után, ha megéhezett vagy szomjas lett, a büfénk
								tökéletes helyének
								köszönhetően gyorsan enyhítheti éhségét és szomját a megannyi ételünk és italunk által.
							</p>
						</div>
					</div>
				</div>
				<div class="carousel-item"
					style="background-image: url(App/assets/images/banki-nyar3.jpg); background-position: center;">
					<div class="carousel-container">
						<div class="carousel-content">
							<h2 class="animate__animated animate__fadeInDown">A <span>Bánkitó Fesztivál</span></h2>
							<p class="animate__animated animate__fadeInUp">Minden év júliusában megrendezett Fesztivál
								tökéletes szorakoztató elfoglatság azon személyeknek, akik kiszeretnének egy picit
								kapcsolódni a mindennapi életből.
							</p>
						</div>
					</div>
				</div>
			</div>
			<a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
				<span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
			</a>
			<a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
				<span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
			</a>
		</div>
	</div>
</section>


<section class="bg-about bg-section" id="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-5 ">
				<div class="hov-img" data-aos="fade-up" data-aos-delay="150">
					<img src="App/assets/images/reklam3.jpg" alt="Bánki Nyár" class="hov-img-bottom img-fluid">
					<div class="hov-img-top hov-img-slideup">
						<div class="hov-img-text">
							<h5>Megannyi élmény</h5>
							<p>A Bánki Tó-Strandon több vízibiciklit, SUP-ot, és akár csónakot is lehet bérelni a
								vendégeknek.</p>
						</div>
					</div>
				</div>
				<div class="hov-img" data-aos="fade-up" data-aos-delay="150">
					<img src="App/assets/images/reklam1.jpg" alt="Számos program" class="hov-img-bottom img-fluid">
					<div class="hov-img-top hov-img-slideup">
						<div class="hov-img-text">
							<h5>Bánki nyár</h5>
							<p>A Bánki tó minden évben számtalan programmal várja az embereket a Bánki Nyár nevű
								programdömpingel, legyen szó fesztiválokról, színdarabokról, vagy akár közösségi
								sport-eseményekről.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="row ">
					<div class="restaurant-history">
						<h3 class="section-heading text-center" data-aos="fade-up" data-aos-delay="150">Bánki Tó-Strand
						</h3>
						<p class="about-history first" data-aos="fade-up" data-aos-delay="350">A Bánki-tó Strand közel
							100 méteres, füves partszakasza a
							nyári szezonban rengeteg látogatót vonz. Bánk kedvelt úti cél strandolók, a horgászok és
							a kirándulók számára egyaránt, de sok látogatót vonz a Bánkitó Fesztivál és a Louis
							Armstrong Jazzfesztivál is. A tavat kiépített sétaút veszi körül, viszont annak
							érdekében, hogy a más célból érkezők ne zavarják egymást, fürdeni csak a strand
							területén lehet.<br />
							<br>
							A tiszta vizű strand talaja a vízben homokos, partja viszonylag gyorsan mélyül, így a
							kisebbeknek érdemes úszógumit vinni. A tó az eddigi évek során kiváló vízminősítést
							kapott. Átlagos mélysége 4 méter, a legmélyebb pontja pedig 6 méter. A hatalmas fák sok
							árnyékos részt adnak, azonban csúcsidőben elfogynak, ezért jó ha van kéznél strandsátor
							vagy napernyő. A strandon található mosdó, öltöző, valamint egy játszótér a gyerekeknek.
							Akik szeretnének egyet mozogni, bérelhetnek csónakot és vízibiciklit. A fürdőzésben
							megéhezőket strandos ételekkel, és hideg italokkal várja a mi Tó-Strand büfénk.
							<br />
							<br>
							A 'Bánki nyár' egy egész nyarat átívelő rendezvénysorozat, mely során több koncert,
							színdarab, sport- vagy akár főzőprogram is megrendezésre kerül. Minden nyár legnagyobb
							programja a Tó-Fesztivál, az országszerte ismert kistavi fesztivál, mely minden évben
							több ezer embert csábít ide.
						</p>
						<p class="about-history" data-aos="fade-up" data-aos-delay="450">
							<iframe
								src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1336.841545718801!2d19.17488761246205!3d47.92316908953468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476a9d43bfc7262d%3A0x828c5ae2d95eb2f4!2zQsOhbmtpIHTDsyBzdHJhbmQ!5e0!3m2!1shu!2shu!4v1674120019384!5m2!1shu!2shu"
								width="100%" height="480" style="border:0;" allowfullscreen="" loading="lazy"
								referrerpolicy="no-referrer-when-downgrade"></iframe>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section id="why-us" class="why-us section-bg">
	<div class="container" data-aos="fade-up">
		<div class="row gy-4">
			<div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
				<div class="why-box">
					<h3>Miért is válasszon minket?</h3>
					<p>
						Nem csak helyben fogyasztást kínálunk a strandi élményben és a tó gyönyörében, hanem
						kiszállítást
						is vállalunk, a Bánk környékén lévő falvakba.
					</p>
				</div>
			</div>
			<div class="col-lg-8 d-flex align-items-center">
				<div class="row gy-4">
					<div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
						<div class="icon-box d-flex flex-column justify-content-center align-items-center">
							<i class="fa-solid fa-burger"></i>
							<h4>Ételek és italok</h4>
							<ul>
								<li><i class="bi bi-check-circle"></i> Gyors és finom ételek</li>
								<li><i class="bi bi-check-circle"></i> Széles étel - italválaszték</li>
								<li><i class="bi bi-check-circle"></i> Helyben készítve</li>
								<li><i class="bi bi-check-circle"></i> Friss alapanyagok</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
						<div class="icon-box d-flex flex-column justify-content-center align-items-center">
							<i class="fa-solid fa-car"></i>
							<h4>Házhozszállítás</h4>
							<ul>
								<li><i class="bi bi-check-circle"></i> 1000 Ft felett</li>
								<li><i class="bi bi-check-circle"></i> 15 km-en belül</li>
								<li><i class="bi bi-check-circle"></i> Bánkon villámgyors szállítás</li>
								<li><i class="bi bi-check-circle"></i> Friss és meleg étel</li>
							</ul>
						</div>
					</div>
					<div class="col-xl-4" data-aos="fade-up" data-aos-delay="500">
						<div class="icon-box d-flex flex-column justify-content-center align-items-center">
							<i class="fa-solid fa-umbrella-beach"></i>
							<h4 class="mt-4">Strandi élmény</h4>
							<ul>
								<li><i class="bi bi-check-circle"></i> Pár méterre a strandtól</li>
								<li><i class="bi bi-check-circle"></i> Strandi hangulat</li>
								<li><i class="bi bi-check-circle"></i> Könnyű hozzáférhetőség</li>
								<li><i class="bi bi-check-circle"></i> Átöltözés nélküli ülőhelyek</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="gallery" class="bg-gallery no-padding">
	<div class="container-fluid">
		<div data-aos="fade-up" data-aos-delay="250">
			<h3>Galéria</h3>
			<hr class="hr-h3s">
		</div>
		<div data-aos="fade-up" data-aos-delay="450">
			<div class="row no-gutter gallery">
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 portfolio-item">
					<div class="caption">
						<div class="caption-content">
							<p class="fa">A Bánki Tó-Strand bejárata, büfénk az üdülőhelyen belül található.</p>
						</div>
					</div>
					<img src="App/assets/images/galeria1.jpg" class="img-fluid" alt="Galéria kép 1">
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 portfolio-item">
					<a class="portfolio-link">
						<div class="caption">
							<div class="caption-content">
								<p class="fa">Kifőzdénk, a Tó-Strand büfé szemből fotózva.</p>
							</div>
						</div>
						<img src="App/assets/images/bufe1.jpeg" class="img-fluid" alt="Galéria kép 2">
					</a>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 portfolio-item">
					<a class="portfolio-link">
						<div class="caption">
							<div class="caption-content">
								<p class="fa">A tó szabadon fürödhető részének lejárója.</p>
							</div>
						</div>
						<img src="App/assets/images/galeria3.jpeg" class="img-fluid" alt="Galéria kép 3">
					</a>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 portfolio-item">
					<a class="portfolio-link">
						<div class="caption">
							<div class="caption-content">
								<p class="fa">A strand frissen begyepesített napozó helye, közvetlen a tóval szemben.
								</p>
							</div>
						</div>
						<img src="App/assets/images/galeria4.jpeg" class="img-fluid" alt="Galéria kép 4">
					</a>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 portfolio-item">
					<a class="portfolio-link">
						<div class="caption">
							<div class="caption-content">
								<p class="fa">A strand felújított játszótere, amely közvetlen a kifőzdénk mellett van.
								</p>
							</div>
						</div>
						<img src="App/assets/images/bufe3.jpg" class="img-fluid" alt="Galéria kép 5">
					</a>
				</div>
				<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 portfolio-item">
					<a class="portfolio-link">
						<div class="caption">
							<div class="caption-content">
								<p class="fa">A strand gyermek medencéje, mely számos mókát rejt a kicsiknek.</p>
							</div>
						</div>
						<img src="App/assets/images/rsz_galeria5.jpg" class="img-fluid" alt="Galéria kép 6">
					</a>
				</div>
			</div>
			<div class="row more-img">
				<div class="to-gallery">
					<h4>További képek Bánk községe hivatalos oldalán, alább található</h4>
					<div class="social-networks">
						<a href="https://www.bank-falu.hu/bank/fotogaleria.php" target="_blank">
							<i class="fa fa-globe"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="bg-testimonials" id="testimonials">
	<div class="container-fluid">
		<div data-aos="fade-up" data-aos-delay="150">
			<h3>Az emberek véleménye rólunk</h3>
			<hr class="hr-testimonials">
		</div>
		<div class="row" data-aos="fade-up" data-aos-delay="350">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<ul class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ul>
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<h4>Az egész strandnak van egy bizonyos bája, amit máshol nem igazán élhet át az ember.</h4>
						<h5>Foltin Milán</h5>
					</div>
					<div class="carousel-item">
						<h4>Finomak az ételek, kedves a kiszolgálás, barátias árak.</h4>
						<h5>Papp Tamás</h5>
					</div>
					<div class="carousel-item">
						<h4>A környék legjobb lángosa. Barátságos, tiszta, és gyönyörű helyen.</h4>
						<h5>Temesvári Vivien</h5>
					</div>
				</div>
				<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#myCarousel" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</div>
	</div>
</section>

{% include 'footer.html.twig' %}