<div id="wrapper">
    <ul class="navbar-nav sidebar sidebar-dark accordion bg-color" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin-iranyitopult">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Tó-Strand büfé</div>
        </a>

        <hr class="sidebar-divider my-0">

        <li class="nav-item active">
            <a class="nav-link" href="admin-iranyitopult">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Irányítópult</span></a>
        </li>
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Felület
        </div>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers"
                aria-expanded="true" aria-controls="collapseUsers">
                <i class="fa-solid fa-users"></i>
                <span class="text-gray-200">Fiókok</span>
            </a>
            <div id="collapseUsers" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/admin-felhasznalok">Felhasználó</a>
                    <a class="collapse-item" href="/admin-adminok">Adminisztrátor</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin-termekek">
                <i class="fa-solid fa-utensils"></i>
                <span class="text-gray-200">Termékek</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="/admin-rendelesek">
                <i class="fa-solid fa-truck-fast"></i>
                <span class="text-gray-200">Rendelések</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/admin-penzugyek">
                <i class="fas fa-fw fa-chart-area"></i>
                <span class="text-gray-200">Pénzügyek</span></a>
        </li>

        <hr class="sidebar-divider d-none d-md-block">

        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>
                <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Keresés..."
                            aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn second-color" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                            aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                        placeholder="Keresés..." aria-label="Search" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <span class="badge badge-danger badge-counter"></span>
                        </a>
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header bg-color border-dark">
                                Üzenetek
                            </h6>
                            {% for message in messages %}
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="font-weight-bold">
                                    <div class="text-truncate"></div>
                                    <div class="small text-gray-500"></div>
                                </div>
                            </a>
                            {% endfor %}
                            <a class="dropdown-item text-center small text-gray-500" href="/admin-uzenetek">További üzenetek</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-900 small">{{userName}}</span>
                            <i class="fa-solid fa-user-gear"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/admin-adminok">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/logout" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Kilépés
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>